@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css");

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  input[type=text] {
                        width: 90%;
                        padding: 12px;
                        border: 1px solid #ccc;
                        border-radius: 7px;
                        resize: vertical;
                      }
                      
                      label {
                        padding: 12px 12px 12px 0;
                        display: inline-block;
                      }
                      
                      input[type=submit] {
                        background-color: #4CAF50;
                        color: white;
                        padding: 12px 20px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        
                      }
                      
                      input[type=submit]:hover {
                        background-color: #45a049;
                      }
                      
                      .container {
                        border-radius: 5px;
                        background-color: #f2f2f2;
                        padding: 20px;
                      }
                      
                      .col-25 {
                        float: left;
                        width: 25%;
                        margin-top: 6px;
                      }
                      
                      .col-75 {
                        float: left;
                        width: 75%;
                        margin-top: 6px;
                      }
                      
                      /* Clear floats after the columns */
                      .row:after {
                        content: "";
                       display: table;
                        clear: both;
                      }
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: rgb(22, 22, 22);
    display: none;
    padding: 100px 20px;
    height: 100%;
  
    
  }
  hr {
height: 1px;
color: blue;
background-color: red;
border: none;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color:#66b3ff;
   border-radius: 10px;
}
tr:hover {background-color:#f5f5f5;}
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
  }

  
  #Add {background-color: white;}
  #View {background-color: white;}
  
  